body {
    background-image: url("bg3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.heading {
    box-shadow:5px 5px 5px grey;
    background-color: white;
    border-radius: 15px;
}
.heading2 {
    box-shadow:5px 5px 5px grey;
    background-color: white;
    border-radius: 15px;
}
  